strConnectURI = "tenant.sharepoint.com"
strUsername = b'c2cAphzxbVSJwXSPn82rQicgqqEXulSbexshn+lgJPxXb0yOu70tuPWBGq/lNnygsP/ivCQlHyC1GtjDUIlk0CEqCT3prpVai0UuOmqXc6y6EA0PJGlRaqdL8G=='
strPassword = b'c2cApnvqMGW9g4sq6c/+mdSfA+6IDo0If2N5ySPr+Ei2axbe2287X77KnUYokCR4GXM3xl41l+0A76nbsXEwoqHby+RsDPu2oV5ndzIFxfeg'

strContextURI = "https://tenant.sharepoint.com/sites/SiteName/_api/contextinfo"
strListInfoURI = "https://tenant.sharepoint.com/sites/SiteName/_api/web/lists/GetByTitle('ListName')"
